body {
  font-family: "Noto Serif", serif;
}

.section1 {
  background-color: black;
}

.logo1 {
  width: 25vw;
  position: absolute;
  z-index: 1;
  top: 10px;
}

.navbar {
  background-color: #e1701a !important;
}

.titleContainer {
  color: white;
}

.carousel-item{
    height: 30vh;
}

.bannerImg{
    max-height:25vh;
    width: auto;
    height: auto;
  }