body {
  font-family: "Noto Serif", serif;
}

.section1 {background-color: black;}

.logo1 {
  width: 15vw;
}
.posterImage{
width: 100vw;
}

.navbar{background-color: #E1701A!important;
  }

  .titleContainer{color: white;}