body {
  background-color: #171d2f;
  margin: 0px;
}
hr {
  border-style: none;
  height: 1px;
  background-color: #ebd8b7;
  margin: 0px;
}
h1 {
  color: #e2e2e2;
}
h2 {
  color: #e2e2e2;
}
h3 {
  color: #e2e2e2;
}
p {
  color: #e2e2e2;
}
th {
  color: #e2e2e2;
}
td {
  color: #e2e2e2;
}
image {
  border: 0px;
}
a:link {
  color: wheat;
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: wheat;
  background-color: transparent;
  text-decoration: none;
}
.contact {
  font-size: 20px;
}
