body {
  background-color: #62959c;
  text-align: center;
}
h1.level {font-size: 5rem; color: white;}
h2.instruction {color: wheat;}
.fa-square {font-size: 18rem; margin: 2rem; margin-top: 1rem; margin-bottom: 1rem;}
.box1 {color: #c19277;}
.box2 {color: #5b6d5b;}
.box3 {color: #99154e}
.box4 {color: #e1bc91;}
