body {
  margin: 0 !important;
  font-family: "Mate SC", serif !important;
}
#bar-title {
  color: #0061a8 !important;
  font-weight: bold !important;
  margin-left: 20px;
  margin-right: 50px;

}

.nav-link {margin-right: 20px;}

#bar-title2 {color: black; line-height: 1.8; margin-left: 25px;}

#emailInput {padding-top: 80px; padding-bottom: 80px; background-color: #0061a8; text-align: center; color: white;}
/* #4e89ae */
/* #34656d */
/* #931a25 */

.textboxAndbutton {display: inline-flex;}

.emailtyping {width: 70%; height: 50px; text-align: center; font-size: 1.7rem;}
#emailbutton {background-color: #a80030; border: 0; color: white; height: 50px; width: 150px; margin-left: 20px;}

.test {
  font-family: "Vesper Libre", serif !important; margin-top: 20px;
}
