body {
  background-image: url(img/backgroundImg.jpg);
  background-size: cover;
  font-family: "Vollkorn", serif;
}

.section1 {
  background-color: rgba(31, 8, 8, 0.5);
  background-size: cover;
  height: max-content;
}
.navbar {
  background: rgb(
    61,
    58,
    58
  ); /* Fallback for older browsers without RGBA-support */
  background: rgba(243, 239, 239, 0.5);
}

.fab {
  color: rgb(22, 33, 62);
  font-size: 2rem;
  margin-right: 10px;
  margin-left: 10px;
  background: transparent;
}

.empty-sm {
  height: 5rem;
}

.window {
  border-radius: 5px;
  margin-top: 5vh;
  margin-right: 5vw;
  margin-bottom: 10vh;
  background: rgba(22, 33, 62, 0.9);
  -webkit-box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000,
    -5px 11px 17px -16px rgba(0, 0, 0, 0.32);
  box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000,
    -5px 11px 17px -16px rgba(0, 0, 0, 0.32);
}
.resultShow {
  color: black;
}

.header {
  color: white;
  text-align: center;
}

.headerDate {
  color: wheat;
  text-align: center;
}

.dateForm {
  margin-left: 100px;
  margin-top: 20px;
}

.dateInput {
  text-align: center;
}

#submitButton {
  border: solid;
}


.results {
  color: white;
  margin-right: 100px;
}

.result_1 {
  margin-top: 20px;
}

.numberFont1 {
  font-family: "Trochut", cursive;
  color: wheat;
}

.information {
  color: rgb(177, 170, 170);
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.bottomEnd {
  background-color: grey;
  box-sizing: content-box;
}

#submitButton {
    border-radius: 20px;
}