html { font-size: 1vw; }
h1 {font-size: 4em;}
.section1{background-image: url(img/adrien-siami-iB3rDL7FNcI-unsplash.jpg); background-size: cover; background-repeat: no-repeat ; width: 100vw; margin-left: 0;}
.emptySpace {height: 150px;}
.yellowBox {border: solid; border-width: 10px; border-color: #F7FD04; border-radius: 15px;}
.header {color: #F7FD04; font-family: 'Staatliches', cursive; margin: 0;}
.explain {color: white;}

@media screen and (max-width: 1024px){
    h1{font-size: 7.5em;}
    .explain{font-size: 3.6em;}
}

@media screen and (max-width: 768px){
    h1{font-size: 7em;}
    .explain{font-size: 3.3em;}
}


@media screen and (max-width: 415px){
    h1{font-size: 9em;}
    .explain{font-size: 4em;}
}
@media screen and (max-width: 320px){
    h1{font-size: 8em;}
    .explain{font-size: 4em;}
}


.goButton {border: solid; border-width: 5px; border-color: #F7FD04; background-color: transparent; color: #F7FD04; height: inherit;}

.goButton:hover {background-color: #F7FD04; color: orangered; cursor: pointer; border-width: 5px;
    display: inline-block;
    position: relative;
    transition: 0.5s;}

.section2 {background-color: black; height: 200px; opacity: 0.5;}